<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to record audio clips.</string>
	<key>NSCameraUsageDescription</key>
	<string>Record short clips to share with friends</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your app needs your location to provide navigation features.</string>
	<key>CFBundleTypeRole</key>
	<string>Editor</string>
	<key>CFBundleURLName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.hookedplus.Hooked-Plus-iOS</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.953046662163-gfmftsmm68f5qp6heie9n2d8e59923v1</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>953046662163-uotv600v8lqd13cs9p4jq2gbojnjajn1.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<string>NSExceptionAllowsInsecureHTTPLoads</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
